.title {
  margin-bottom: 0.75em;
  font-weight: 800;
  color: var(--bs-dark);
  font-family: "Playfair Display", serif;
}

.ProductAdd form {
  width: 500px;
}

.ProductAdd input,
.ProductAdd textarea {
  margin: 0.25em 0;
}
