.UserForm {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.UserForm header {
  margin-bottom: 2em;
}

.UserForm header h2 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
}

/* Form group blocks */
.block {
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: column;
}

.block:last-child {
  margin-bottom: 0;
}

.UserForm textarea,
.UserForm input {
  padding: 0.5em 1em;
  color: var(--bs-gray-600);
  border-radius: 5px;
  border: 1px solid var(--bs-gray-300);
  outline-color: var(--bs-gray-700);
  transition: 0.25s;
  font-weight: bold;
}

.UserForm textarea::placeholder,
.UserForm input::placeholder {
  font-style: italic;
  font-weight: normal;
}

.UserForm textarea:focus::placeholder,
.UserForm input:focus::placeholder {
  font-style: normal;
  font-weight: normal;
}

/* Label */
.block label {
  color: var(--bs-gray-600);
}

/* Widths */
.w25 {
  width: calc(25% - 0.5em);
}

.w50 {
  width: calc(50% - 0.5em);
}

.w100 {
  width: 100%;
}

/* Media Queries */
@media (max-width: 991px) {
  /* Widths */
  .w25 {
    width: calc(50% - 0.5em);
  }
  .w50 {
    width: 100%;
  }
}
