.wrapper{

}

.header h1{
   margin-bottom: .5em;
   font-weight: 800;
   color: var(--bs-dark);
   font-family: 'Playfair Display', serif;
}

h5.noItems{
   color: var(--bs-gray-600);
}

.content{
   display: flex;
   flex-wrap: wrap;
   gap: .5em;
}