:root {
  /*app*/
  --app-green: #53bd00;
  --app-light: #f6f6f6;
  --app-dark: #1e1e1e;
  --app-secondary-dark: #272727;
  --app-light-hover: #f0f0f0;
  --app-primary: #fb8a2e;
  --app-primary-hover: #8d4a13;
  --app-primary-25: rgba(251, 138, 46, 0.25);

  /*swiper*/
  --swiper-theme-color: #ffffff;
  --swiper-navigation-color: #ffffff;
}

body {
  font-family: var(--font-nunito), "Nunito Sans", sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

html {
  height: 100%;
}
