.spinnerContainer {
  min-height: 65vh;
  margin: 4.5em auto 1em;
  max-width: 1180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--app-light);
  border-radius: var(--radius-md);
}
