.wrapper{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.left,
.right{
   padding: 6em 4em;
}

.left{
   width: 550px;
   color: var(--bs-white);
   background-color: var(--app-primary);
   background-image: url('/other/brick-borders.svg');
   background-size: contain;
   background-position: bottom;
   background-repeat: no-repeat;
}
.left h1{
   margin: 0;
   font-size: 64px;
   font-weight: 700;
}
.left h4{
   font-weight: 400;
}

.right{
   flex: 1;
   display: flex;
   align-items: center;
}
.right h5{
   margin: 0;
   font-weight: 400;
}

.images{
   display: flex;
   flex-wrap: wrap;
}
.images .w100{
   width: 100%;
}
.images .w50{
   width: 50%;
}

@media(max-width: 991px){
   .left{
      width: 100%;
      background-position: bottom right;
      background-size: 50%;
   }
}
@media(max-width: 768px){
   .left {
      width: 50%;
      background-size: contain;
   }
   /*text*/
   .left h1{
      font-size: 24px;
   }
   .left h4{
      font-size: 14px;
   }
   .right h5{
      font-size: 14px;
   }
}
@media(max-width: 595px){
   .wrapper{
      flex-direction: column;
   }
   .left, .right{
      padding: 2em;
   }
   .left{
      width: 100%;
      background-size: 35%;
   }
}