.wrapper{
   display: flex;
   align-items: center;
}

.content{
   width: 50%;
   padding: 4.25em;
}
.content h1{
   margin-bottom: .5em;
   font-size: 48px;
   font-weight: 700;
}
.content h5{
   margin-bottom: 3.25em;
   font-weight: 400;
}
.content a{
   padding: .85em 4em;
   text-decoration: none;
   color: var(--bs-white);
   background: var(--app-primary);
   border-radius: 5px;
}

.wrapper img{
   width: 50%;
}