.wrapper {
  padding: 0 0 2em;
}

.wrapper h3 {
  margin-bottom: 0.5em;
  font-size: 32px;
  font-weight: 700;
}
.wrapper h5 {
  font-weight: 400;
}
.wrapper h5 b {
  color: var(--app-primary);
  font-weight: 700;
}

/*media*/
@media (max-width: 768px) {
  /*wrapper*/
  .wrapper {
    padding: 0 0 1em;
  }
  /*content*/
  .wrapper h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .wrapper h5 {
    font-size: 18px;
  }
  .wrapper h5 b {
    font-size: 18px;
  }
}
