/*swiper*/
.SwiperNavigation {
  width: 100%;
  height: auto;

  /*vars*/
  --swiper-navigation-size: 20px;
}

.SwiperNavigation :global(.swiper-wrapper) {
  align-items: stretch;
}

.SwiperNavigation :global(.swiper-button-prev),
.SwiperNavigation :global(.swiper-button-next) {
  z-index: 3;
  pointer-events: auto;
}

/*image in swiper slide*/
.image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 14 / 9;
  object-fit: cover;
}

/*skeleton for images*/
.placeholder {
  width: 100%;
  margin-bottom: 0;
  aspect-ratio: 14 / 9;
}
.placeholder span {
  height: 100%;
  border-radius: 5px;
}
