.button {
  display: inline;
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: inherit;
  text-decoration: underline;
  color: var(--bs-white);
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: var(--app-primary);
}
